.User {
  display: none;
  @media only screen and (max-device-width: 1024px) {
    display: block;
    box-sizing: border-box;
    height: 100px;
    overflow: hidden;
    position: relative;
    padding: 5px;

    &__avatar {
      height: 100%;
      display: inline-block;
      border-radius: 50%;
    }

    &__name {
      position: absolute;
      top: 50%;
      left: 120px;
      transform: translateY(-50%);
      font-size: 20px;
      margin: 0;
    }
  }
}
