.ChatItem {
  box-sizing: border-box;
  height: 100px;
  overflow: hidden;
  background-color: #ccd6dd;
  color: black;
  border-bottom: 1px solid gray;
  position: relative;
  padding: 5px;
  cursor: pointer;
  &-selected {
    color: white;
    border-bottom: 1px solid #141f27;
    background-color: #1b394a;
  }

  &__avatar {
    height: 100%;
    display: inline-block;
    border-radius: 50%;
  }

  &__user-name {
    position: absolute;
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
    font-size: 20px;
    margin: 0;
  }
}
